<div class = "container">
  <div class="username" align="center">

    <h3>Username: <%= session[:username] %></h3>

    <%= form_tag("/repositories/create", method: "post") do %>
      <%= label_tag(:name, "Create a New Repo:") %>
      <%= text_field_tag(:name, nil, id: "new-repo") %>
      <%= submit_tag("Create") %>
    <% end %>
    <% @repos.each do |repo| %>
      <li><%= link_to repo['name'], repo['html_url'] %></li>
    <% end %>
  </div>

</div>
